!Copy paste bindings
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard
URxvt.keysym.Control-Meta-C: builtin-string: 
URxvt.keysym.Control-Meta-V: builtin-string: 
URxvt.iso14755: false
URxvt.scrollBar: false
URxvt.internalBorder:  40
URxvt*font: xft:Source Code Pro:size=9

!color-scheme old
! special
!*.foreground:   #c5c8c6
*.background:   #1d1f21
!*.cursorColor:  #c5c8c6

! black
!*.color0:       #1d1f21
!*.color8:       #969896

! red
!*.color1:       #cc342b
!*.color9:       #cc342b

! green
!*.color2:       #198844
!*.color10:      #198844

! yellow
!*.color3:       #fba922
!*.color11:      #fba922

! blue
!*.color4:       #3971ed
!*.color12:      #3971ed

!! magenta
!*.color5:       #a36ac7
!*.color13:      #a36ac7

! cyan
!*.color6:       #3971ed
!*.color14:      #3971ed

! white
!*.color7:       #c5c8c6
!*.color15:      #ffffff

!ROFI SETUP
rofi.hide-scrollbar: true

!*background:	#1E2541
*foreground:	#EEFFFF
*cursorColor:	#EEFFFF
*color0:	#1E2541
*color1:	#F0719B
*color2:	#5AF7B0
*color3:	#FFA56B
*color4:	#57C7FF
*color5:	#C792EA
*color6:	#89DDFF
*color7:	#EEFFFF
*color8:	#354274
*color9:	#F02E6E
*color10:	#2CE592
*color11:	#FF8537
*color12:	#1DA0E2
*color13:	#A742EA
*color14:	#47BAE8
*color15:	#DEE6E7
*color16:	#2A335A
